@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Medium"),
    local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src:
    local("Montserrat Regular"),
    local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Italic"),
    local("Roboto-Italic"),
    url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Italic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:
    local("Roboto Variable"),
    local("Roboto-Variable"),
    url("../fonts/Roboto/Roboto-Variable.woff2") format("woff2"),
    url("../fonts/Roboto/Roboto-Variable.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gotham Pro";
  src:
    local("Gotham Pro"),
    local("Gotham-Pro"),
    /* url('../fonts/GothamPro/gothampro.woff2') format('woff2'), */
      url("../fonts/GothamPro/gothampro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Latin CT";
  src:
    local("Latin CT"),
    local("Latin-CT"),
    url("../fonts/LatinCT/latin.woff2") format("woff2"),
    url("../fonts/LatinCT/latin.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bahnschrift";
  src:
    local("Bahnschrift"),
    local("Bahnschrift"),
    url("../fonts/Bahnschrift/MiConv.com__Bahnschrift.woff2") format("woff2"),
    url("../fonts/Bahnschrift/MiConv.com__Bahnschrift.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
