:root {
    --general-text: #312c27;
    --general-bg: #fff9f4;
    --assent-color: #ffa55c;
    --assent-bg: #ffe0cb;
    --assent-text: #1f1711;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body-opened--modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
    padding: 0 6.313%;
    height: 100%;
}

.title {
    font-family: 'Gabriola';
    font-size: 74px;
    line-height: 0.82;
    color: var(--assent-text);
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.main__program {
    padding-bottom: 145px;
}

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--assent-color);
    border-radius: 100px;
    font-size: 16px;
    line-height: 1.6;
    font-weight: 500;
    padding: 30px 15px;
    max-height: 62px;
    transition: var(--transition);
}

.button:hover {
    background: #ff9138;
}

.modal {
    position: fixed;
    inset: 0;
    background: #00000070;
    z-index: 10;
    padding: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px;
    position: relative;
    max-width: 428px;
}

.modal__cancel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cancel path,
.modal__cancel rect {
    transition: var(--transition);
}

.modal__cancel:hover path,
.modal__cancel:hover rect {
    stroke: #ac907a;
}



.modal__img {
    margin: -65px 0 15px 13px;
    max-width: 100%;
}

.modal__title {
    margin-top: 10px;
    color: var(--assent-text);
    text-align: left;
    font-family: "Gabriola";
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
}

.modal__text {
    margin-bottom: 30px;
}

.modul__form {}

.modul__form-label {
    margin-bottom: 10px;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #ac907a;

    opacity: 0;
    visibility: hidden;
    transition: var(--transition);
}

.field__input {
    display: block;
    width: 100%;
    border-radius: 100px;
    border: 1px solid #ac907a;
    background: #00000000;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
}

.field__input::placeholder {
    color: #ac907a;
    transition: var(--transition);
}

.field__input:hover {

    border-color: var(--assent-color);

}

.field__input:hover::placeholder {
    color: var(--assent-color);
}

.field__input:focus {
    padding: 26px 42px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/* ///////////////////////////////////////////////////////// */
.header {
    background: url("../img/decor/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.header__logo {
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;

}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--assent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;
}

.nav-link:hover::before {
    opacity: 1;
}

.burger-icone {
    display: none;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    z-index: 11;
}

.burger-icone span,
.burger-icone span::before,
.burger-icone span::after {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: all 0.4s;

}

.burger-icone span {
    position: relative;
}

.burger-icone span::before,
.burger-icone span::after {
    content: '';
    position: absolute;
}

.burger-icone span::before {
    bottom: -8px;
}

.burger-icone span::after {
    top: -8px;
}

.body--opened-menu .burger-icone span {
    background: transparent;
}

.body--opened-menu .burger-icone span::before {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icone span::after {
    top: 0px;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 50px 0 140px;
}

/* /////////////////////////////////////////// */


.hero {
    padding: 50px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 520px;
}

.hero__info {
    color: #b197b2;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    color: #b197b3;
    text-transform: uppercase;
    line-height: 1.6;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    background: #b197b3;
    border-radius: 50%;
    width: 4px;
    height: 4px;
    display: block;
    margin: 0 10px;
}

.hero__info span:last-child:after {
    content: none;
}

.hero__title {
    margin-bottom: 30px;
}

.hero__text {
    max-width: 360px;
    margin-bottom: 40px;
}

.hero__button {
    max-width: 360px;
    width: 100%;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img>img {
    width: 100%;
}

.hero__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 200px;
    bottom: 10%;
    left: calc(100% - 39px);
    text-align: left;
}

.hero__img-control-mobile {
    display: none;
}

.hero__img-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: #ffe0cb;
    box-shadow: 0 4px 20px rgba(184 148 126 0.3);
    position: relative;
}

.hero__img-button img {
    padding-left: 8.8%;
}

.hero__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--assent-color);
    opacity: 0;
    transition: all 0.4s;
}

.hero__img-button:hover::before {
    opacity: 1;
}

/* /////////////////////////////////////////////////////////// */


.about {}

.about__iner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    color: var(--general-bg);
    grid-row: 1 / -1;

}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0% 50%;
}

.about__img-control {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
    max-width: 300px;
    top: 69.45%;
    left: 4.977%;
    text-align: left;
    background: #957b97e6;
    border-radius: 20px;
    min-width: 49.51%;
    /* min-height: 108px; */
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    position: relative;
    margin: 15px 0px 15 20px;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid #ceaad0;
    opacity: 0;
    transition: all 0.4s;
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__body {
    display: block;
    text-align: left;
}

.about__heading {
    margin-bottom: 30px;
}

.about__title {
    margin-bottom: 10px;
}

.about__title-text {
    /* text-align: left; */

}

.about__text {
    /* text-align: left; */
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    background: var(--assent-bg);
    border-radius: 20px;
    padding: 29px 24px;
    display: flex;
    gap: 15px;
    color: var(--general-text);
    align-items: center;
}

.about__grid-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border-style: solid;
    border-color: var(--nabornyj, #312c27);
    border-width: 1px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
}

.about__grid-text {}

/* ////////////////////////////////////////////////////////// */


.main__program {}

.program {}

.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__heding {}

.program__title {
    margin-bottom: 20px;
}

.program__text {}

.tab-controls {
    display: flex;
    gap: 26px;

}

.tab-controls__item {}

.tab-controls__link {
    display: block;
    /* background: #ffe0cb; */
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.3);
    transition: var(--transition);
    white-space: nowrap;
}

.tab-controls__link:hover {
    background: #ffe0cb;
}

.tab-controls__link--active {
    background: #ffe0cb;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);
}

.tab-content {


    display: none;
}

.tab-content--show {
    display: block;
}

.accordion-list {}

.accordion-list__item {
    margin-bottom: 30px;
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--assent-color);
    border-width: 1px;
}

.accordion-list__item:last-child {
    margin-bottom: 0px;
}



.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    font-style: inherit;

    display: flex;
    justify-content: space-between;
    gap: 15px;
    text-align: left;

    color: var(--assent-text);
    font-family: "Gabriola";
    font-size: 42px;
    line-height: 0.9;

    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-title {}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1px solid var(--assent-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    background: var(--assent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    background: var(--assent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}


.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}


/* .accordion-list__item--opened .accordion-list__content{
max-height: none;
} */

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content-col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content-col {}

.accordion-content-title {
    color: #ceaad0;
    line-height: 1.6;
    text-transform: uppercase;
}

.accordion-content-list {}

.accordion-content-item {
    margin-bottom: 20px;
    display: flex;
    gap: 4px;
}

.accordion-content-item:last-child {
    margin-bottom: 0px;
}

.accordion-content-icon {
    width: 24px;
    height: 24px;
    border: 1px solid #ceaad0;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 4px;
    flex-shrink: 0;
}

.accordion-content-text {
    max-width: 274px;
}






.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    flex-shrink: 0;
    width: 100%;
}

.program__discount {
    display: block;
    font-size: 20px;
    background: var(--assent-bg);
    border-radius: var(--border-radius);
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discount-value {
    display: block;
    color: var(--assent-color);
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    text-align: center;
    margin: 5px 8% 5px 0;
    transform-origin: 0 0;
    animation: discount-grow 1s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--assent-color);

    }

    100% {
        transform: translateX(3%) scale(1.09);
        color: #ff9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 45%;
}

.program__price {}

.program__price-text {
    color: #ceaad0;
    text-align: left;
    font-family: "Montserrat-Regular";
    font-size: 16px;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.program__price-value {
    color: #312c27;
    text-align: left;
    font-family: "Gabriola";
    font-size: 32px;
    line-height: 0.9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--assent-text);
}

.program__button {
    grid-column: 1 / 3;
}

.program__img img {
    width: 100%;
}


/* //////////////////////////////////////////////////////// */



.footer {
    background: #ab8261;
    padding: 60px 0 63px;
    color: var(--general-bg);
    min-height: 253px;
}

.footer__iner {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.9fr 1fr;
    gap: 40px 30px;
}

.footer__col:first-child {
    margin-top: -30px;
}

.footer__col:last-child {
    justify-items: end;
}


.footer__logo {
    display: block;
    max-width: 272px;

}

.footer__logo img {
    max-width: 241px;

}

.footer__logo-text {
    margin-bottom: 20px;
}

.footer__col-list {
    margin-bottom: -5px;
}

.footer__col-item {

    margin-bottom: 10px;
}

.footer__col-item:last-child {
    margin-bottom: 0;
}

.footer__col-link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}


.footer__col-link::before {
    content: '';
    position: absolute;
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--assent-color);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.4s;
}

.footer__col-link:hover::before {
    opacity: 1;
}



.footer__contacts-list {}

.footer__contacts-item {
    margin-bottom: 10px;
}

.footer__contacts-item:last-child {
    margin-bottom: 0;
}

.footer__col-tel {
    margin-bottom: 47px;
}

.footer__col-number {
    display: block;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 500;
    transition: var(--transition);
}

.footer__col-number:hover {
    color: var(--assent-color);
}

.footer__col-copy {
    color: #dec5b1;
}


.social {
    line-height: 0;
}

.socials__list {
    display: flex;
    gap: 15px;
    line-height: 0;
}

.social__item {}

.social__list path {
    transition: var(--transition);

}

.social__list:hover path {
    fill: var(--assent-color);
}

/*///////////////////////////////////////////////////////////// */




/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////// */


@media (max-width :1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* --------------------- */
    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* --------------------- */
    .footer__iner {
        display: grid;
        justify-content: space-between;
        grid-template: auto auto / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
        justify-items: center;
    }

}

@media (max-width :1100px) {
    .container {
        padding: 0 2.313%;
    }

    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1 / -1;
    }

    /* ------------------------ */
    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;

    }

    .accordion-content {
        gap: 30px;
    }

}

@media (max-width :900px) {
    .nav {
        background: var(--general-bg);
        position: fixed;
        inset: 0;
        z-index: 10;
        padding: 26vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 0.4s;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icone {
        display: block;

    }

    /* ------------------------- */

    .program__img {
        display: none;
    }

    .program__action {
        grid-template-columns: minmax(287px, 1fr) 1fr;
        max-width: none;
    }

    /* --------------------- */

    .footer__iner {
        grid-template: none;
        justify-content: center;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }




}

@media (max-width :800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control-mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* --------------------- */

    .about__iner {
        grid: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid: none;
    }

    /* --------------------- */

    .tab-controls {
        gap: 10px;
    }

    .tab-controls__link {
        padding: 6px 20px;
    }

    /* --------------------- */

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content-col:first-child {
        max-width: none;
    }

    .accordion-content-text {
        max-width: none;
    }


}

@media (max-width : 600px) {

    .title {
        font-size: 12vw;
    }

    .main__about {
        padding: 80px 0;
    }


    .main__program {
        padding-bottom: 80px;
    }

    /* ----------------------- */
    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .tab-controls {
        justify-content: center;
    }

    /* ------------------ */
    .header__hero {
        padding-bottom: 40px;
    }

    .hero {
        padding-bottom: 40px;
    }

    /* ----------------- */
    .about__img-control {
        gap: 10px;
        max-width: none;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        padding: 15px 20px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;

    }

    /* --------------- */

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;

    }

    .program__action {
        grid-template-columns: repeat(2, auto);
        gap: 15px;
    }

    .program__discount {
        justify-self: center;
        grid-column: 1 / 3;
        grid-row: auto;
    }



}



@media(max-width: 450px) {
    .header__hero {
        padding-bottom: 30px;
    }

    .hero {
        padding: 50px 0 30px;
    }

    /* --------------------- */

    .modal__window {
        padding: 0 15px 45px;

    }

    .modal__title {
        font-size: 35px;
    }

    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    /* ------------------ */

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content-item {
        margin-bottom: 10px;
    }


    .program__action {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .program__price div {
        text-align: center;
    }
}
